*{
    box-sizing: border-box;
    font-family: 'Inter' !important;
    color: rgb(44, 44, 44);
    
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.active{
    font-weight: bold !important;
}
div.left{
    background-color: #02BF63;
    height: 100vh;
    width: 300px;
    justify-content: center;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
div.options{
    width: 100%;
    margin-top: 5lvh;
}
ul.options{
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column !important;
}
li.logout{
    margin-top: 50px;
    margin-bottom: 50px !important;
}
li.options{
    text-align: center;
    margin-bottom: 20px;
}

li.options>a{
    text-decoration: none;
    color: white;

    
    font-size: 4lvh;
    font-weight:500;
}
ul{
    list-style: none;
}
div.right{
    width: 100%;
    display: flex;
    flex-direction: column;
}
div.addstore{
    display: flex;
    flex-direction: row;
    
}
/*Login*/
div.login-left{
    background-color: white;
    width: 50%;
    height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.login-right{
    background-color: #02BF63;
    width: 50%;
    height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-input, #login-submit{
    border-radius: 15px !important;
    outline-color: white;
}
label.login-label{
    padding-left: 10px;
    margin-bottom: 5px;
    color: white;
    font-weight:600;
    margin-bottom: 2px;
    margin-top: 15px;
}
#login-submit{
    font-weight:800 !important;
    color: #02BF63 !important;
}

.login-left img {
    width: 300px; 
}
.login-text{
    color: #02BF63;
    font-weight:900 !important;
}
/*Super admin*/
.superadminstorelogo{
    
   
    width: 30lvh;
    
}
.storetable{
    margin-left: 100px;
}
/*edit store modal*/
.editinput{
    background-color: rgb(228, 228, 228) !important;
}
/*overview superadmin*/
.storestat{
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    margin-right: 100px;
    margin-top: 50px;
}
.stores{
    display: flex;
    flex-direction: row;
}
.storenumber{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-right: 15px;
    color:#FF914D;
    font-size: 4rem;
    /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;*/
    
}
.storestext p{
    margin: 0px;
    line-height: 1.2;
    font-size: 1.5rem;
    color:#007F41;
    font-weight: 700;
    
    /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;*/  
}
.storestext{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/*Account*/
#rightaccount{
    
    
}
.accountsdiv{
    margin-left: 5lvw;
    
}
.accountstext{
    color: #02BF63;
    font-weight: 800;
    font-size: 2em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 1lvh;
}

.accountsdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 70lvh;
    padding-right: 5lvw;
    
}
.acoountdiv{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    width: 40%;
    max-height: 35%;
    height: 30%;
    background-color: #02BF63;
    border-radius: 30px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(58, 72, 70, 0.1), 0 8px 16px 0px #03412260;
}

.accountlogo{
    width: lvh;
    height: 16lvh;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-left: 5%;
}
.accountname{
    color: white;
    font-size: 2em;
    font-weight: 700;
    text-wrap: nowrap;
    margin-bottom: 0 !important;
    white-space: normal;
    margin-right: 5px;
    width: 100%;
    text-align: center;
}
.storename
{
    width: 100%;
    text-align: center;
}
.categoryname
{
    width: 100%;
    
}
.addstore{
    
}
#add-store{
    background-color: #02BF63;
    border-color: #02BF63;
    width: 15lvw;
    height:8lvh;
    border-radius: 30px 0 0 30px;
    font-size: 2.1lvh;
    font-weight: 800;
}
.modal-dialog {
    max-width: 60% !important;
    
}
.menumodal{
    max-width: 50% !important;
    max-height: 50lvh !important;
}
.modal-content{
    border-radius: 20px !important;
}
.form-label{
    margin: 0;
    font-weight: bold;
}
.form-control{
    border-radius: 10px !important;
    border-color: rgba(109, 109, 109, 0.562)
}
/*add account modal*/
.upperaddacc{
    display: flex;
    flex-direction: row;
}
.storeinfo{
    display: flex;
    flex-direction: column;
    
}
.labelinput{
    width: 100%;
    margin-right: 3lvh;
}
.labelinputright{
    margin-right: 0 !important;
}
.storeinforow{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 10px;
}
.exitbtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.modaltitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#007F41;
    margin-bottom: 30px;
}
.modaltitle>h5{
    font-size: 5lvh;
    font-weight: bold;
}

.modal-content{
    padding: 2lvh 5lvw;
}
.footer{
    width: 100%;
    margin-top: 50px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px !important;
}
.editstorefooter{
    display: flex;
    flex-direction: row-reverse;
}
.footer>button{
    width: 45%;
    border-radius: 20px !important;
}
.editstorefooter>form>button{
    width: 100%;
    border-radius: 20px !important;
}
.editstorefooter>form{
    width: 45%;
}
.addacclogo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    min-height: 25lvh;
    min-width: 25%;
    border-radius: 10px;
    margin-right: 2lvw; 
}
.editacclogo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    min-height: 25lvh;
    min-width: 25%;
    border-radius: 10px;
    margin-right: 2lvw; 
}

label{
    width: 100%;
}
.upperaddacc{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.addstorebelow{
    margin-top: 20px;
}
.greenbtn{
    background-color:#02BF63 !important;
    border-color: #02BF63 !important;
}
.uploadbtn{
    display: flex;
    flex-direction: column;

}
.uploadbtn>i{
    font-size: 10lvh;
}
.ownerdetailstext{
    font-weight: bold;
    
}
.ownercontact{
    min-width: 130px !important; 
    
}
/*Kiosk*/
/*store*/
.storebody{
    display: flex;
    flex-direction: column;
    
}
.header{
    background-color:#02BF63;
    width: 100%;
    display: flex;
    justify-content:space-between;
    font-size: 1.3rem;
    align-items: center;
    color: rgb(255, 255, 255);
    padding-right: 20px;
    font-weight: 700 !important;
}
#text{
    font-weight: 600 !important;
}
.bx-shopping-bag{
    font-size: 2rem !important;
    margin-left: 5px;
    color: white;
    width: 36px;
   
}
.kioskstorelogo{
    width: 8lvh;
  
    margin: 10px 0 10px 30px;
   
}
.down{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.kioskstores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 50vh;
    padding-right: 20px;
    width: 90%;
}
.kioskstore{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 22%;
    height: 30%;
    background-color: #02BF63;
    border-radius: 30px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(58, 72, 70, 0.1), 0 8px 16px 0px #03412260;
}
.storelogo{
    
    height: 10lvh;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-left: 5%;
}
#storestext{
    width: 100%;
    display: flex;
    color: rgb(43, 43, 43);
    font-weight: 800;
    font-size: 2em;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 5%;
}
.storename p{
    font-size: 2vw;
}
.categoryname p{
    font-size: 4lvh;
    font-weight: bold;
    
}
input.searchstores{
    min-width: 90lvw;
    min-height: 8lvh;
    border-radius: 20px;
    background-color: rgba(207, 207, 207, 0.452);
    border-color: white;
    padding-left: 20px;
}
.kiosksearch{
    margin-top: 4lvh;
    
}
.kiosksearch form{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: none;
}
.kioskstore:hover{
    cursor: pointer;
}
/*menu*/
.storeheader{
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(58, 72, 70, 0.1), 0 8px 16px 0px #77777760;
}
.menustorename p{
    font-weight:800;
    /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-size: 5lvh;
}
.menustorename{
    margin: 2lvh 0px 0px 2lvw;
}
.menusearch{

   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.menusearch form{
    display: flex;
    justify-content: start;
    flex-direction: row;
    border: none;
}
input.menusearch{
    min-width: 30lvw;
    min-height: 5lvh;
    border-radius: 20px;
    background-color: rgba(207, 207, 207, 0.452);
    border-color: white;
    padding-left: 20px;
    margin-left: 2lvw;
    margin-bottom: 15px;
}
.categories{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: end;
}
.categories>ul>li>a{
    margin: 0 1.5lvw !important;
    line-height: 5lvh !important;
    margin-bottom: 0px !important;
    font-size: 3lvh;
    font-weight: 700;
    color: #02BF63;
}
.active{
    border: 0;
    border-bottom: 7px #02BF63;
    margin-bottom: 0px !important;
    border-style:solid ;
    line-height: 50px !important;
    transition: width 0.3s all;
}
.storeitems{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-y: scroll;
    max-height: calc(100lvh - 53px - 100px - 45px);
    padding-right: 20px;
    width: 100%;
    max-width: 100lvw;
    padding-left: 30px;
}
.storeitem{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 30%;
    justify-content: space-between;
    max-height: 25lvh;
    margin-right: 5%;
    background-color: white;
    border: 1px rgba(194, 194, 194, 0.555)   solid;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 10px 20px;
    box-shadow: 0 1px 2px rgba(197, 197, 197, 0.007), 0 8px 16px 0px #5757572a;
}
.itemname{
    font-size: calc(2.5lvh + 0.5lvw);
    /*font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;*/
    font-weight: 600 !important;
    margin-bottom: 0px !important;
    
}
.itemprice{
    margin-bottom: 0px !important;
}
.kioskstore{
    display: flex;
    

}
.itemlogo{
    height: 20lvh;
    width: 40%;
    object-fit: cover;
    
}
.itemdetails{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
.categoryitem{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
}
ul{
    display: flex;
    list-style: none !important;
    text-decoration: none !important;
    flex-direction: row;
    list-style-type: none !important;
    margin-bottom: 0px !important;
}
li{
    text-decoration: none !important;
    list-style-type: none;
    margin-bottom: 0px !important;
}
a{
    text-decoration: none !important    ;
}
.itemsdiv{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    
    flex-wrap: wrap;
}
.storemenus{
    max-width: 100lvw;
    
}
.storeitem:nth-child(3n) {
    margin-right: 0;
}

.menumodalpic{
    height: 40lvh;
    width: 100%;
    object-fit: contain;
    
}
.menumodalcontent{
    padding: 0lvh 0lvw !important;
    
}

.menuprice{
    font-size: 1.5rem;
}
.menuitemname{
    font-size: 2rem;
    font-weight: 600;
}
.modalbody{
    max-height: 90lvh !important;
    margin:0px !important;
    padding:0px !important;
}
.menumodalbody{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 70lvh;
    margin: 0 0 0 20px !important;
    padding-right: 20px !important;
}
.choosevariant{
    font-size: 1.6rem;
    margin-bottom: 0px;
    font-weight:500;
    
    /*font-family:sa    ns-serif;*/
}
.menuvariation, .menusize{
    width: 100%;
    background-color:#02bf640c;
    border:1px rgba(128, 128, 128, 0.295) solid;
    align-items: flex-start;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.modalfooter{
    max-height: 10lvh !important;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100% !important;
}
.menuvariation input,.menusize input{
    transform: scale(1.5);
    margin-right: 15px;
    border-color: #007F41;
}
.radioholder:hover{
    background-color:#1bb46d4d;
    border-radius: 5px;
    
}

.radioholder:hover label{

    color:#007F41;
}
.radioholder:hover input[type="radio"] {
    border:#007F41 2.5px solid ; 
}
.radioholder p{
    font-size:1.3rem;
    align-items: center;
    text-align: center;
    margin-bottom: 0px !important;
    font-weight: 400 !important;
    
}
.storeitem {
   
    transition: transform 0.1s ease; 
}

.storeitem:hover {
    transform: scale(1.03); 
    background-color:#29da5e15;
}
.quantityInput{
    min-width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0;
}
.quantitydiv{
    display: flex;
    flex-direction: row;
    max-width:100px;
    min-width:100px;
    width: 100px;
    justify-content: space-between;
    margin-right: 20px
}
.quantitybtn{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.quantitybutton{
    min-width: 30px !important;
    max-height: 30px;
    max-width: 30px;
    min-height: 30px !important;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    font-size: 1.1rem;
    border: gray 1px solid;
}
.quantitybutton p{
    margin-bottom: 0px;
    text-align: center !important;
}
.modal-footer{
}
.addtocartbtn{
    width:100% !important;
    min-height: 7lvh;
    background-color: #02BF63 !important;
    border-color:#02BF63 !important;
}
/*search store*/
.searchbackground{
    background-color: rgba(128, 128, 128, 0.116);
    padding: 20px;
    border-radius: 10px;
}
input[type="radio"] {
   
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
   
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1.5px solid #007F41;
    background-color: white;
    margin-right: 10px; 
    
}

@keyframes checkedAnimation {
    50% {
        background-color: #007F41;
        border-color: #007F41;
    }
    100% {
        background-color: white;
        border-width: 4px;
    }
}

input[type="radio"]:checked {
    animation: checkedAnimation 0.3s; /* Adjust the duration as needed */
    border-width: 4px;
}
input[type="radio"]:checked .radioholder{
    background-color: red !important;
}
.radioholder:hover input[type="radio"]:checked {
    border-width: 4px;
}
.radioholder{
    display: flex;
    flex-direction: row;
    align-items: center !important;
    line-height: 50px;
    width: 100%;
    padding: 0 15px;
}
.radio{
    margin-right: 10px;
    
}
.cartbag{
    position: relative;
    bottom: 0;
    right:0;
}
/*store*/
/*add item*/
.itemsize{
    display:flex;
    flex-direction: row;
}
.addsizebtn{
    margin-left: 50px;
}
.sizecontainer{
    display: flex;
    flex-direction: row;
}
a.ddvariant{
    margin-bottom: 50px;
}
.itemsizee{
    display:flex;
    flex-direction: row;
}
#size-container{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.additem{
    display: flex;
    flex-direction: column !important;
}
#varietyOption, .size-option{
    display: flex;
    flex-direction: row;
}
#varietyOption label, .size-option label{
    margin-left: 5px;
}
.additem2formheader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.sizedetails{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.receipttext{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 30px;
    color:#007F41;
    margin-bottom: 0px;
}

/*cart*/
.cartstorename{
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}
table td>input{
    
}
.table>:not(caption)>*>* {
    padding: 0rem !important;
}
.table>tbody{
    vertical-align:unset;
}
td>select{
    border:none;
    background-color:white !important;
}

select>option{
    background-color: lightgray !important;
}
select:focus > option:checked { 
    background:gray !important;
    color: white !important;
}
td>input{
    border: 0px;
    outline: none;
}
.mt-4{
    margin-top: 1rem !important;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    transition: visibility 0.5s;
}

#loading-spinner {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #02BF63; 
    border-radius: 50%;
    background-image: url('../resources/foodparklogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    animation: spin 1s linear infinite;
}

/*spin animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.cartfooter{
    width: 100%;
    padding: 0px 7lvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    bottom: 40px !important;
}
.cartfooterbtn{
    width: 35%;
    border-radius: 20px;
    height: 50px !important;
    background-color: #02BF63 !important;
    border-color: #02BF63 !important;
    font-size: 1rem;
    font-weight: 700 !important;
}
.cancelbtn{
    background-color: gray !important;
    border-color: gray !important;
}
.iscancelled{
    margin-top: 0px;
}
.countdown-message{
    margin-top: 10px;
    text-align: center;
}
.cancelbody{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.canceltxt{
    text-decoration: none;
    color: white !important;
    font-size: 1rem;
}
.orderidtxt{
    color: white;
    margin-bottom: 0px !important;
    font-size: 1.1rem;
    font-weight: 700;
}
.totalcartcount p{
    color: white !important;
    position: fixed;
    top: 20px;
    right:20px;
}
.cart-count{
   
    position:absolute;
    top: 18px;
    width: 20px;
    height: 20px;
    right: 0px;
    font-size: 1rem;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
}
.cart-count>span{
    color: #007F41 !important;
}
.cart-count>span{
    min-width: 20px;
}
.nocart{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.nocartbtn{
    width: 30% !important;
    margin-top: 20px;
}